li {
    display: inline-block;
    border: 1px solid;
    margin-right: -1px;
    padding: 2px 11px;
    cursor: pointer;
}

span.nav {

    float: left;
    padding: 4px;
    cursor: pointer
}

ul {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;

}